body{
  font-family: 'Open sans', sans-serif;  
}
#hero{
  width: 592px;
  text-align: left;
   margin: 45px 0 0 70px;

}
#line{
  width: 568px;
  height: 0px;
  margin: 0 0 10px 0;
  border: 1px solid #ECEFF2;
}

h1{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 56px;
  font-weight: normal;
}
h1 span{
  font-weight: bold;
}
#hero p{
  color: #7d7987;
  line-height: 20px;
}
#p1{
  text-align: center;
  margin-left: 2px;
}
span, a{
  color: #FF9900;
}
#footer p{
  color: black;  
}
#footer{
  font-size: 14px;
  line-height: 28px;
  width: 592px;
  position: absolute;
  right: 0px;
  bottom: 0px;/*alinha a div ao final da pagina */
  text-align: right; /*alinha os itens da div a direita */
  
}

#footer a+a{
  margin-left: 28px;
}
#footer img{
  width: 200px;
  height: auto;
  margin-bottom: 40px;
  margin-right: 20px;
}
#footer a,p{
  font-size: 10px;
}



#balls {
  width: 90px;
  position: fixed;
  top: 12%;
  right: 7%;
}